.list-container {
  width: 60%;
}

.detail-container {
  width: 40%;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.card-container {
  text-align: center;
  border-style: solid;
  width: 200px;
}

.pokemon-name {
  text-transform: capitalize;
}

.search-container > input {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  box-sizing: border-box;
}